[metadata]
name = "my-repositories"
description = "List my repositories"
requirements = ["fd", "bat"]

[source]
command = 'fd --type d --hidden --no-ignore-vcs --format="{//}" --base-directory $HOME --search-path "src" --search-path "Projects" --regex ".git\$"'

[preview]
command = "cd $HOME/{} && git log -n 200 --pretty=medium --all --graph --color"

[ui]
ui_scale = 80
input_header = "Git Repository"

[ui.input_bar]
position = "bottom"

[keybindings]
ctrl-e = "actions:new_tab"
ctrl-s = "actions:new_pane_right"
ctrl-b = "actions:new_pane_down"
ctrl-o = "actions:new_pane_floating"

[actions.new_tab]
description = "Open new tab on zellij"
command = "$HOME/.config/television/scripts/new-tab.sh {}"
mode = "fork"

[actions.new_pane_right]
description = "Open new pane on zellij"
command = "$HOME/.config/television/scripts/new-pane.sh {} right"
mode = "fork"

[actions.new_pane_down]
description = "Open new pane on zellij"
command = "$HOME/.config/television/scripts/new-pane.sh {} down"
mode = "fork"

[actions.new_pane_floating]
description = "Open new pane on zellij"
command = "$HOME/.config/television/scripts/new-pane.sh {} floating"
mode = "fork"
