[metadata]
name = "my-repositories"
description = "List my repositories"
requirements = ["fd", "bat"]

[source]
command = 'fd --type d --hidden --no-ignore-vcs --format="{//}" --base-directory $HOME --search-path "src" --search-path "Projects" --regex ".git\$"'

[preview]
command = "cd $HOME/{} && git log -n 200 --pretty=medium --all --graph --color"

[ui]
ui_scale = 80
input_header = "Git Repository"

[ui.input_bar]
position = "bottom"
