[user]
	name = Kesse Jones

[core]
	excludesfile = ~/.gitignore_global
	editor = nvim

[pull]
	rebase = true

[push]
    default = current

[init]
	defaultBranch = main

[alias]
    a = add
    d = diff
    b = branch
    l = lg
    s = status
    f = fetch

    r = "!f() { if [ -z "$@" ]; then git branch | awk '!/\\*/ { print $1 } ' | gum choose --limit 1 | xargs git rebase; else git rebase $@; fi; }; f"
    m = "!f() { if [ -z "$@" ]; then git branch | awk '!/\\*/ { print $1 } ' | gum choose --limit 1 | xargs git merge; else git merge $@; fi; }; f"

    lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all

    # add
    aa = "add --all"
    ap = "add --patch"
    ai = "add --interactive"

    # checkout
    co = "!f() { if [ -z "$@" ]; then git branch | awk '!/\\*/ { print $1 } ' | gum choose --limit 1 | xargs git checkout; else git checkout $@; fi; }; f"
    cb = checkout -b

    # commit
    ci = commit
    ca = commit --amend
    cu = reset --soft HEAD^

    # push
    ps = push
    fp = push --force-with-lease

    # pull
    pl = pull

    # branch
    bm = branch -m
    bM = branch -M
    bx = branch -d
    bX = branch -D

    # diff
    dh = diff HEAD^

    # rebase
    rc = rebase --continue
    rs = rebase --skip
    ra = rebase --abort

    # merge
    ma = merge --abort
    mc = merge --continue

    # stash
    ss = stash
    ; sl = stash list
    ; sa = stash apply
    ; sd = stash drop
    ; sp = stash pop

    sa = "!f() { if [ -z "$@" ]; then git stash list | gum choose --limit 1 | cut -d':' -f1 | xargs git stash apply; else git stash apply $@; fi; }; f"
    sd = "!f() { if [ -z "$@" ]; then git stash list | gum choose --limit 1 | cut -d':' -f1 | xargs git stash drop; else git stash drop $@; fi; }; f"
    sp = "!f() { if [ -z "$@" ]; then git stash list | gum choose --limit 1 | cut -d':' -f1 | xargs git stash pop; else git stash pop $@; fi; }; f"
    sl = "!git stash list | gum choose --limit 1 >/dev/null"

[include]
    path = ~/.gitconfig-user
