[user]
	name = Kesse Jones

[core]
	excludesfile = ~/.gitignore_global
	editor = nvim

[pull]
	rebase = true

[push]
    default = current

[init]
	defaultBranch = main

[alias]
    fp = push --force-with-lease
    lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all

[include]
    path = ~/.gitconfig-user

