configuration{
    modi: "drun";
    icon-theme: "Papirus";
    show-icons: true;
    terminal: "kitty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    sidebar-mode: false;

    ml-row-up: "Control+k";
    ml-row-down: "Control+j";
    me-accept-entry: "MousePrimary";
    me-select-entry: "MouseSecondary";
}

@theme "catppuccin-mocha.rasi"
